<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478885684254-fh0o2j41l790u9dgjgts6fdsokc2ffmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478885684254-fh0o2j41l790u9dgjgts6fdsokc2ffmd</string>
	<key>API_KEY</key>
	<string>AIzaSyBzX7v-cdZycwed4Xw-UZJJ0Rh1LWO_HDg</string>
	<key>GCM_SENDER_ID</key>
	<string>478885684254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getxMvvm</string>
	<key>PROJECT_ID</key>
	<string>jarify-b69f6</string>
	<key>STORAGE_BUCKET</key>
	<string>jarify-b69f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478885684254:ios:ac8dd46bad83efade13a0f</string>
</dict>
</plist>